<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザー新規登録</h2>

        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, id:"user_email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード（6文字以上）" %><br />
          <%= f.password_field :password, id:"user_password", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :hoge, "パスワード再入力" %><br />
          <%= f.password_field :password_confirmation, id:"user_password_confirmation", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :user_name, "ユーザー名" %><br />
          <%= f.text_field :user_name, id:"user_name" %>
        </div>

        <div class="field">
          <%= f.label :nickname, "ニックネーム" %><br />
          <%= f.text_field :nickname, class: :form__text, id:"user_nickname" %>
        </div>

        <div class="field">
          <%= f.label :position, "ポジション" %><br />
          <%= f.text_field :position, class: :form__text, id:"user_position" %>
        </div>

        <div class="field">
          <%= f.label :pitching, "投打" %><br />
          <%= f.text_field :pitching, class: :form__text, id:"user_pitching" %>
        </div>

        <div class="field">
          <%= f.label :age, "年齢" %><br />
          <%= f.text_field :age, class: :form__text, id:"user_age" %>
        </div>

        <div class="field">
          <%= f.label :area, "都道府県" %><br />
          <%= f.text_field :area, class: :form__text, id:"user_area" %>
        </div>

        <div class="field">
          <%= f.label :year, "経験年数" %><br />
          <%= f.text_field :year, class: :form__text, id:"user_year" %>
        </div>

        <div class="field">
          <%= f.label :fan, "ファン球団" %><br />
          <%= f.text_field :fan, class: :form__text, id:"user_fan" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>