<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">プロフィール編集</h2>

        <%= form_with model: @user, local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %> 

        <div class="field">
          <%= f.label :avatar, "画像" %><br />
          <%= f.file_field :avatar, class: :image_form, id:"prototype_image" %>
        </div>       

        <div class="field">
          <%= f.label :user_name, "ユーザー名" %><br />
          <%= f.text_field :user_name, id:"user_name" %>
        </div>

        <div class="field">
          <%= f.label :nickname, "ニックネーム" %><br />
          <%= f.text_field :nickname, class: :form__text, id:"user_nickname" %>
        </div>

        <div class="field">
          <%= f.label :position, "ポジション" %><br />
          <%= f.text_field :position, class: :form__text, id:"user_position" %>
        </div>

        <div class="field">
          <%= f.label :pitching, "投打" %><br />
          <%= f.text_field :pitching, class: :form__text, id:"user_pitching" %>
        </div>

        <div class="field">
          <%= f.label :age, "年齢" %><br />
          <%= f.text_field :age, class: :form__text, id:"user_age" %>
        </div>

        <div class="field">
          <%= f.label :area, "都道府県" %><br />
          <%= f.text_field :area, class: :form__text, id:"user_area" %>
        </div>

        <div class="field">
          <%= f.label :year, "経験年数" %><br />
          <%= f.text_field :year, class: :form__text, id:"user_year" %>
        </div>

        <div class="field">
          <%= f.label :fan, "ファン球団" %><br />
          <%= f.text_field :fan, class: :form__text, id:"user_fan" %>
        </div>

        <div class="field">
          <%= f.label :text, "ひと言" %><br />
          <%= f.text_area :text, class: :form__text, id:"user_text" %>
        </div>

        <div class="actions">
          <%= f.submit "変更する", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>