<div class="main">
  <div class="inner">
    <div class="user__wrapper">      
      <div class="page-heading-box">
        <figure>
          <% if @user.avatar? %>
            <%= image_tag @user.avatar.url %>
          <% else %>
            <%= image_tag ("twittericon13.png") %>
          <% end %>
        </figure>
        <div class="page-heading-show">
          <span>@<%= @user.user_name %></span>
        </div>
        <div class="d-flex">
          <%= link_to follows_user_path(@user) do %>
          <h6>フォロー<%= @following_users.count %></h6>
          <% end %>&nbsp;&nbsp;
          <%= link_to followers_user_path(@user) do %>
          <h6>フォロワー<%= @follower_users.count %></h6>
          <% end %>
        </div>
      </div>
      
      <% if user_signed_in? && current_user != @user %>
      <div class="btn_sm">
        <% if current_user.following?(@user) %>
        <%= link_to 'フォロー中', user_relationships_path(@user.id), method: :delete, class: :follow_delete %>
        <% else %>
        <%= link_to 'フォローする', user_relationships_path(@user.id), method: :POST, class: :follow_post %>
        <% end %>
      </div>
      <% end %>
      
      <% if user_signed_in? && current_user.id == @user.id %>
      <div class="user_edit_btn">
        <%= link_to 'プロフィールを編集', edit_user_path(@user) %>
      </div>
      <% end %>
      <table class="table">
        <tbody>          
          <tr>
            <th class="table__col1">ニックネーム</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">ポジション</th>
            <td class="table__col2"><%= @user.position %></td>
          </tr>
          <tr>
            <th class="table__col1">投打</th>
            <td class="table__col2"><%= @user.pitching %></td>
          </tr>
          <tr>
            <th class="table__col1">年齢</th>
            <td class="table__col2"><%= @user.age %></td>
          </tr>
          <tr>
            <th class="table__col1">都道府県</th>
            <td class="table__col2"><%= @user.area %></td>
          </tr>
          <tr>
            <th class="table__col1">経験年数</th>
            <td class="table__col2"><%= @user.year %></td>
          </tr>
          <tr>
            <th class="table__col1">ファン球団</th>
            <td class="table__col2"><%= @user.fan %></td>
          </tr>
          <tr>
            <th class="table__col1">ひと言</th>
            <td class="table__col2"><%= @user.text %></td>
          </tr>
        </tbody>
      </table>
      <div class="page-heading">
        <span>@<%= @user.user_name %></span>の投稿
      </div>
      
        <!-- ▼twitter風ここから -->
        <div class="twitter__container">
        <% @posts.each do |post| %>
          <!-- タイトル -->
          <div class="twitter__title">
            <span class="twitter-logo"></span>
          </div>

          <!-- ▼タイムラインエリア scrollを外すと高さ固定解除 -->
          <div class="twitter__contents scroll">

            <!-- 記事エリア -->
            <div class="twitter__block">    
              <figure>
                <% if post.user.avatar? %>
                  <%= image_tag post.user.avatar.url %>
                <% else %>
                  <%= image_tag ("twittericon13.png") %>
                <% end %>
              </figure>
              <div class="twitter__block-text">
                <div class="name">
                  <span class="name_nickname"><%= link_to post.user.nickname, user_path(post.user)%></span>
                  <span class="name_reply"><%= link_to "@#{post.user.user_name}", user_path(post.user) %></span>
                </div>
                <%= link_to post_path(post) do %>
                <div class="date"><%= time_ago_in_words(post.created_at) %>前</div>
                <div class="text">
                  <p style="white-space:pre-wrap;"><%= post.text %></p>
                </div>
                <% if post.image.present? %>
                <div class="in-pict">
                  <%= image_tag post.image.variant(resize: '500x500') %>
                </div>
                <% end %>
                <% end %>
                <div class="twitter__icon">
                  <div class="index_comments">
                    <i class="fa-regular fa-comment"></i> <%= post.comments.count %>
                  </div>
                  <% if user_signed_in? %>
                    <div id="favorite_btn_<%= post.id %>">
                      <%= render 'posts/favorite', post: post %>
                    </div>
                  <% else %>
                    <p class="caption">
                      <i class="fa-sharp fa-regular fa-heart" style="color: #4f4f4f;"></i> <%= post.favorites.count %>
                    </p>
                  <% end%>
                </div>
              </div>
            </div>
          </div>
          <!--　▲タイムラインエリア ここまで -->
        <% end %>
        </div>
        <!--　▲twitter風ここまで -->
      
    </div>
  </div>
</div>