<div class="side-bar">
    <div class="side-header">
      <div class="header-logo">
        <%= link_to "grandslam", root_path, class: :logo %>
      </div>
    </div>
    <div class="side-main">
      <ul class="side-main-lists">
        <li class="side-main-list">
          <%= link_to root_path do %>
            <i class="fa-solid fa-house" style="color: #191919;"></i> ホーム
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="side-main-list">
            <%= link_to user_path(current_user) do %>
              <i class="fa-solid fa-user" style="color: #191919;"></i> プロフィール
            <% end %>
          </li>
          <li class="side-main-list">
            <%= link_to follows_user_path(current_user) do %>
              <i class="fa-solid fa-people-group" style="color: #19191a;"></i> フォロー一覧
            <% end %>
          </li>
          <li class="side-main-list">
            <%= link_to followers_user_path(current_user) do %>
              <i class="fa-solid fa-people-group" style="color: #19191a;"></i> フォロワー一覧
            <% end %>
          </li>
          <li class="side-main-list">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa-solid fa-right-from-bracket" style="color: #19191a;"></i> ログアウト
            <% end %>
          </li>
          <li class="post__btn">
            <%= link_to "投稿する", new_post_path %>
          </li>          
        <% else %>
          <li class="side-main-list">
            <%= link_to "ログイン", new_user_session_path %>
          </li>
          <li class="side-main-list">
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
        <%= link_to user_path(current_user) do %>
          <div class="side-profile">
            <figure>
              <% if current_user.avatar? %>
                <%= image_tag current_user.avatar.url %>
              <% else %>
                <%= image_tag ("twittericon13.png") %>
              <% end %>
            </figure>
            <div class="side-user-profile">
              <div class="side-nickname">
                <%= current_user.nickname %>
              </div>
              <div class="side-user_name">
                <%= "@#{current_user.user_name}" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>