<%= form_with(url: "#", local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<!-- ▼twitter風ここから -->
<div class="twitter__container">
  <!-- タイトル -->
  <div class="twitter__title">
    <span class="twitter-logo"></span>
  </div>

  <!-- ▼タイムラインエリア scrollを外すと高さ固定解除 -->
  <div class="twitter__contents scroll">

    <!-- 記事エリア -->
    <div class="twitter__block">
      <figure>
        <img src="icon.png" />
      </figure>
      <div class="twitter__block-text">
        <div class="name">うさきち<span class="name_reply">@usa_tan</span></div>
        <div class="date">10分前</div>
        <div class="text">
          今日も終電だよ～<br>
        </div>
        <div class="twitter__icon">
          <span class="twitter-bubble"></span>
          <span class="twitter-loop"></span>
          <span class="twitter-heart"></span>
        </div>
      </div>
    </div>

    <!-- 記事エリア -->
    <div class="twitter__block">
      <figure>
        <img src="icon.png" />
      </figure>
      <div class="twitter__block-text">
        <div class="name">うさきち<span class="name_reply">@usa_tan</span></div>
        <div class="date">1時間前</div>
        <div class="text">
          残業でお腹空いたから朝までやってるお店でラーメン食べることにした(^o^)神の食べ物すぎる・・うまぁ
          <div class="in-pict">
            <%= image_tag 'images.globe.png' %>
          </div>
        </div>
        <div class="twitter__icon">
          <span class="twitter-bubble">1</span>
          <span class="twitter-loop">4</span>
          <span class="twitter-heart">122</span>
        </div>
      </div>
    </div>

    <!-- 記事エリア -->
    <div class="twitter__block">
      <figure>
        <img src="icon.png" />
      </figure>
      <div class="twitter__block-text">
        <div class="name">うさきち<span class="name_reply">@usa_tan</span></div>
        <div class="date">2018/06/24 5:34</div>
        <div class="text">
          睡眠２時間で出社なんだけど…
          <a href="https://nakox.jp/">https://nakox.jp/</a>
        </div>
        <div class="twitter__icon">
          <span class="twitter-bubble">1</span>
          <span class="twitter-loop"></span>
          <span class="twitter-heart"></span>
        </div>
      </div>
    </div>

    <!-- 記事エリア -->
    <div class="twitter__block">
      <figure>
        <%= image_tag 'images.globe.png' %>
      </figure>
      <div class="twitter__block-text">
        <div class="name">うさきち<span class="name_reply">@usa_tan</span></div>
        <div class="date">1時間前</div>
        <div class="text">
          残業でお腹空いたから朝までやってるお店でラーメン食べることにした(^o^)神の食べ物すぎる・・うまぁ
          <div class="in-pict">
            <%= image_tag 'images.globe.png' %>
          </div>
        </div>
        <div class="twitter__icon">
          <span class="twitter-bubble">1</span>
          <span class="twitter-loop">4</span>
          <span class="twitter-heart">122</span>
        </div>
      </div>
    </div>


  </div>
  <!--　▲タイムラインエリア ここまで -->
</div>
<!--　▲twitter風ここまで -->