<%= form_with(url: "#", local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<!-- ▼twitter風ここから -->
<div class="twitter__container">
<% @posts.each do |post| %>
  <!-- タイトル -->
  <div class="twitter__title">
    <span class="twitter-logo"></span>
  </div>

  <!-- ▼タイムラインエリア scrollを外すと高さ固定解除 -->
  <div class="twitter__contents scroll">

    <!-- 記事エリア -->
    <div class="twitter__block">    
      <figure>
        <img src="icon.png" />
      </figure>
      <div class="twitter__block-text">
        <div class="name">
          <%= link_to post.user.nickname, user_path(post.user)%>
          <span class="name_reply"><%= link_to "@#{post.user.user_name}", user_path(post.user) %></span>
        </div>
        <%= link_to post_path(post) do %>
        <div class="date"><%= time_ago_in_words(post.created_at) %></div>
        <div class="text">
          <%= post.text %>
        </div>
        <% if post.image.present? %>
        <div class="in-pict">
          <%= image_tag post.image.variant(resize: '500x500') %>
        </div>
        <% end %>
        <% end %>
        <div class="twitter__icon">
          <span class="twitter-bubble"></span>
          <span class="twitter-loop"></span>
          <span class="twitter-heart"></span>
        </div>
      </div>
    </div>
  </div>
  <!--　▲タイムラインエリア ここまで -->
<% end %>
</div>
<!--　▲twitter風ここまで -->